 #TitleInput {
    margin-left: 110px;
    width: 400px;
}
#TitleInputLabel {
    margin-left: 110px;
    font-size: 18px;
}

#header {
    margin-top: 20px;
    margin-left: 110px;
    margin-right: 10px;
}

#Form {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 100px;
    /* width: 400px; */
    font-size: 15px;
}
/* 
#Form #PhotoInput {
    font-size: 15px;
}

#Form #TitleInput {
    font-size: 15px;
} */

#Form #todayDate {
width: 70%;
}

label {
    font-size: 14px;
}
/* 
#image {
    width: 400px;
    transform: scale(0.3, 0.3);
} */