 #TitleInput {
    /* margin-top: 3%; */
    margin-left: 110px;
    width: 400px;
}
#TitleInputLabel {
    margin-left: 110px;
    font-size: 18px;
}


.FormCreate {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 100px;
    /* width: 400px; */
    font-size: 15px;
}

.FormCreate label{
    display: inline-block;
    text-align: center;
    font-size: 13px !important;
	/* float: left; */
}
.FormCreate h2{
    text-align: left;
}
.FormCreate #UploadPhotoButton {
    display:flex;
justify-content:center;
}
/* 
#Form #PhotoInput {
    font-size: 15px;
}

#Form #TitleInput {
    font-size: 15px;
} */

#Form #todayDate {
width: 70%;
}

label {
    font-size: 14px;
}
/* 
#image {
    width: 400px;
    transform: scale(0.3, 0.3);
} */