.goallist .componentTitle {
    padding-left: 450px !important;
    padding-top: 23px;
    padding-bottom: 10px;
    font-size: 30px;
    /* z-index: 99 !important; */
}

.calendarpanel {
    border-right: thin solid #adadad !important;
    position: fixed;
    width: 320px;
    height: 100%;
    background-color: #f7f7f7;
    /* z-index: 80; */
    margin-left: 110px;
}

