.profilePage {
    left: 0;
    right: 0;
    position: absolute;
    margin-right: 40px;
    margin-left: 140px;
    margin-bottom: 10px;
    /* transform: scale(0.7, 0.7, 0.7); */
}

#photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 30px;
    transform: scale(0.7, 0.7, 0.7);
}
.userProfileDivider {
    height: 100% !important;
}
/*#nameBio {
    word-wrap: break-word;
}*/