.TaskBodySegment {
    /* margin-top: 200px !important; */
    /* margin-left: 450px !important;
    width: 70% !important; */
    /* display: flex; */
    max-width: 800px !important;
}

.ui.list, ol.ui.list, ul.ui.list .TaskBodyTitleList{
    margin: 5px !important;
}
.TaskBodyListItem{
    padding-top: 14px;
    margin-right: 7px !important;
    margin-bottom: 0px !important;
}
.DeleteTaskButtonGroupAnother {
    margin-top: 3px !important;
    /* bottom: 10px !important; */
    left: 3px !important;
    position: relative;
        transform: scale(0.7, 0.7, 0.7) !important;
}

.DeleteTaskButtonA{
    background-color: #ffffff !important;
    /* color: black !important; */
    /* right: 0 !important; */
    /* bottom: 5px !important; */
    Padding: 5px !important;
    opacity: 100% !important;

}
.EditTaskButtonA{
    background-color: #ffffff !important;
    /* color: black !important; */
    /* right: 0 !important; */
    /* bottom: 5px !important; */
    Padding: 5px !important;
    opacity: 100% !important;

}
.TaskBodyListTitle {
    /* padding-top: 14px; */
    padding-bottom: 0px !important;
    line-height: 150% !important;
}
.TaskBodyListIcon {
    padding-top: 9px!important;
    color:  #fa9287;
    padding-bottom: 10px !important;
}
.TaskBodyListTitleHeader {
    padding-top: 5px;
    font-size: 19px !important;
    font-weight: 700 !important;
    padding-bottom: 10px !important;
}

.TaskBodyListDeadline {
    /* padding-top: 10px; */
    padding-left: 6px !important;
    /* bottom: 3px !important; */
    color: #807e7e;
}

.TaskBodyListRating {
    /* padding-top: 10px; */
    padding-left: 6px !important;
    margin-top: 2px !important;
    /* bottom: 3px !important; */
}
