.GoalBodySegment {
    /* margin-top: 200px !important; */
    margin-left: 450px !important;
    width: 70% !important;
    /* display: flex; */
    max-width: 680px !important;
}


.ui.buttons .button.toggle.active, .ui.toggle.buttons .active.button {
    background-color: #fa9287 !important;
    box-shadow: none!important;
    text-shadow: none;
    color: #fff!important;
}

.ui.list, ol.ui.list, ul.ui.list .GoalBodyTitleList{
    margin: 5px !important;
}
.GoalBodyListItem{
    padding-top: 14px;
    margin-right: 7px !important;
    margin-bottom: 0px !important;
}
.DeleteGoalButtonGroupAnother {
    margin-top: 3px !important;
    /* bottom: 10px !important; */
    left: 3px !important;
    position: relative;
        transform: scale(0.7, 0.7, 0.7) !important;
}

/* .DeleteGoalButtonA{
    background-color: #ffffff !important;

    Padding: 5px !important;
    opacity: 100% !important;

}
.EditGoalButtonA{
    background-color: #ffffff !important;

    Padding: 5px !important;
    opacity: 100% !important;

} */
.GoalBodyListTitle {
    /* padding-top: 14px; */
    padding-bottom: 0px !important;
}
.GoalBodyListIcon {
    padding-top: 9px!important;
    color:  #fa9287;
    padding-bottom: 10px !important;
}
.GoalBodyListTitleHeader {
    padding-top: 5px;
    font-size: 19px !important;
    font-weight: 700 !important;
    padding-bottom: 10px !important;
}

.GoalBodyListwithTask {
    padding-top: 0px !important;
}

.GoalBodyListDeadline {
    /* padding-top: 10px; */
    padding-left: 6px !important;
    /* bottom: 3px !important; */
    color: #807e7e;
}

.GoalBodyAddButton {
    background-color: #ffffff !important;
    bottom: 2.25px !important;
    right: 2.25px !important;
    position: relative;
    transform: scale(0.7, 0.7, 0.7) !important;
}