
.signupSegment {
    margin-top: 25px !important;
}

.submitButton {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}

.submitButtonLogin {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}

.LoginSegment {
    margin-top: 25px !important;
}

.invalid-feedback {
    color: red;
    font-size: 80%;
    margin-top: 2.5px;
    width: 100%;
}