.EditGoalTaskTab {
    margin-left: 150px !important;
    margin-top: 10px !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: none !important;
    border: none !important;
}

.EditGoalTaskContainer .ui.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.EditGoalTabButton {
    background-color: #ffffff !important;
    z-index: 50 !important;
}

.EditTaskTabButton {
    background-color: #ffffff !important;
    z-index: 50 !important;
}