.EditGoalForm {
    /* margin-top: 70px !important; */
    margin-right: 10% !important;
}

.EditGoalForm label{
    display: inline-block;
    text-align: center;
    font-size: 13px !important;
	/* float: left; */
}

.EditGoalForm h5{
    padding-top: 11px;
}