#reactModal {
    height: 460px !important;
    border: none !important;
}

.modal__close-btn {
    margin-bottom: 10px !important;
    margin-right: 10px !important ;
    position: absolute;
    bottom: 0;
    right: 0;
}
