.AccCardContent {
    padding-bottom: 0px !important;
    padding: 0px !important;
    padding-top: 10px !important;
}

.AccCardContent p {
    color: #807e7e !important;
}
.AccPhoto {
    height: 150px !important;
    width: 200px !important;
    max-width: 200px !important;
    max-height: 150px !important;
}