.GeneralGoalInfoPanel{
    padding-top: 16px !important;
}
.GeneralGoalInfoTitle {
    padding-left: 14px !important;
    padding-bottom: 0px !important;
    /* margin-top: 2px !important; */
}

.GeneralGoalInfoSub {
    padding-top: 5px !important;
}